/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  font-family: 'Nanum Gothic', sans-serif;
  background-color: rgb(255, 255, 255);
  line-height: 1.7em;
}

a {
  color:#333;
  text-decoration: none;
}

h1, h2, h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}

/* Utility Classes */
.container {
  margin: auto;
  max-width: 1100px;
  max-height: 70px;
  overflow: auto;
  padding: 0 20px;
}

.text-primary {
  color: #f7c08a;
}

.lead {
  font-size: 20px;
}

.btn {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background: #333;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background: #f7c08a;
  color: #333;
}

.btn-light {
  background: #ffffff;
  color: #333;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.bg-light {
  background: #f4f4f4;
  color: #333;
}

.bg-primary {
  background: #f7c08a;
  color: #333;
}

.clr {
  clear: both;
}

/* NavBar */
#navbar {
  background: #333;
  color: #fff;
  overflow: auto;
}

#navbar a {
  color: #fff;
}

#navbar h1 {
  float: left;
  padding-top: 20px;
}

#navbar ul {
  list-style: none;
  float: right;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar ul li a:hover, 
#navbar ul li a.current {
  background: #444;
  color: #f7c08a;
}

.main-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  border-radius: 50px;
}

.popular-showcase {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.favorite-showcase {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.hotel-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.about-section {
  padding: 50px 0;
  text-align: center;
}

/* Forms */
.booking-form {
  width: 1000px;
  margin: 0 auto;
  padding: 0px;
  background: #ffd0a7;
}

.register-form {
  padding: 20px;
  text-align: center;
  margin: auto;
  max-width: fit-content;
}

.contact-form {
  padding: 20px;
  text-align: center;
  margin: auto;
  max-width: fit-content;
}

div.elem-group {
  margin: 10px 0;
}

div.elem-group.inlined {
  width: 49%;
  display: inline-block;
  float: left;
  margin-left: 1%;
}

label {
  display: block;
  font-family: 'Nanum Gothic';
  padding-bottom: 10px;
  font-size: 1.25em;
}

input, select, textarea {
  border-radius: 2px;
  border: 2px solid #777;
  box-sizing: border-box;
  font-size: 1.25em;
  font-family: 'Nanum Gothic';
  width: 100%;
  padding: 10px;
}

div.elem-group.inlined input {
  width: 95%;
  display: inline-block;
}

textarea {
  height: 250px;
}

hr {
  border: 1px dotted #ccc;
}

button {
  height: 50px;
  background: #333;
  border: none;
  color: white;
  font-size: 1.25em;
  font-family: 'Nanum Gothic';
  border-radius: 4px;
  cursor: pointer;
  padding: 0 12px;
}

button:hover {
  background: #444;
  color: #f7c08a;
}

#page-container {
  position: relative;
  min-height: 100vh;

}

/* Footer */
#main-footer {
  bottom: 0;
  text-align: center;
  background: #444;
  color: #fff;
  padding: 20px;
  }

