/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Nanum Gothic', sans-serif;
    background-color: #ffffff; /* Changed to a lighter background color */
    line-height: 1.7em;
    margin-right: calc(100% - 100vw);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes at least the height of the viewport */
}

.wrapper {
    flex: 1; /* Grow to fill remaining vertical space */
}

a {
    color: #333;
    text-decoration: none;
}

h1, h2, h3 {
    margin-bottom: 20px;
}

h4 {
    max-width: 1100px;
    margin: auto;
    padding: 0 0 0 20px;
    font-size: 1.5em;
}

p {
    margin: 10px 0;
}

/* Utility Classes */
.container {
    margin: auto;
    max-width: 1100px;
    padding: 0 20px;
}

.text-primary {
    color: #f7c08a;
}

.lead {
    font-size: 20px;
}

.btn {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background: #333;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background: #f7c08a;
    color: #333;
}

.btn-light {
    background: #fff;
    color: #333;
}

.bg-dark {
    background: #333;
    color: #fff;
}

.bg-light {
    background: #f4f4f4;
    color: #333;
}

.bg-primary {
    background: #f7c08a;
    color: #333;
}

.clr {
    clear: both;
}

/* NavBar */
#navbar {
    background: #333;
    color: #fff;
    overflow: auto;
}

#navbar a {
    color: #fff;
}

#navbar h1 {
    float: left;
    padding-top: 20px;
}

#navbar ul {
    list-style: none;
    float: right;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current {
    background: #444;
    color: #f7c08a;
}

#hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

#hamburger-menu div {
    width: 2rem;
    height: 0.25rem;
    background: #333;
}

#mobile-nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: #fff;
    transition: transform 0.3s ease-in-out;
}

#mobile-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#mobile-nav ul li {
    margin: 1rem 0;
}

@media (max-width: 768px) {
    #hamburger-menu {
        display: flex;
    }
}

#mobile-nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: #fff;
    transition: transform 0.3s ease-in-out;
}

#mobile-nav.active {
    transform: translateX(0%);
}

.main-image {
    display: block;
    margin: 0 auto;
    width: 1100px;
    border-radius: 4px;
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.1);
}

.popular-showcase,
.favorite-showcase {
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    flex-wrap: wrap;
}

.hotel-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    margin: 20px auto;
    max-width: 1100px;
}

.hotel {
    flex: 1 0 20%;
    margin: 1%;
    box-sizing: border-box;
    background: #ffffff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.05);
}

.hotel:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.hotel img {
    width: 100%;
    border-radius: 4px;
}

.hotel-page-info {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hotel-page-name {
    text-align: center;
    margin: 0;
    color: #333;
}

.features {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.feature-symbol {
    font-size: 0.3em;
    color: #f7c08a;
    max-height: 70px;
}

.image-gallery {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 20px;
}

.image-gallery img {
    max-width: 30%;
    height: auto;
    margin: 10px;
}

#results {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px auto;
    max-width: 500px;
}

.hotel-image {
    height: 60%;
    border-radius: 4px;
}

.hotel-result {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hotel-result:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.hotel-search-image {
    width: 50%;
    border-radius: 4px;
    object-fit: cover;
}

.hotel-details {
    flex-grow: 1;
}

.about-section {
    padding: 50px 0;
    text-align: center;
    max-width: 1100px;
    margin: auto;
    position: relative;
}

div.elem-group {
    flex: 1;
    margin: 10px;
}

div.elem-group-guests {
    flex: 1;
    margin: 10px;
    max-width: 100px;
}

.button-group {
    flex: 0 0 auto;
    margin: 10px;
}

input, select, textarea {
    border-radius: 2px;
    border: 2px solid #777;
    box-sizing: border-box;
    font-size: 1.25em;
    font-family: 'Nanum Gothic';
    width: 100%;
    padding: 10px;
}

div.elem-group.inlined input {
    width: 95%;
    display: inline-block;
}

textarea {
    height: 250px;
}

hr {
    border: 1px dotted #ccc;
}

button {
    height: 50px;
    background: #333;
    border: none;
    color: white;
    font-size: 1.25em;
    font-family: 'Nanum Gothic';
    border-radius: 4px;
    cursor: pointer;
    padding: 0 12px;
}

button:hover {
    background: #444;
    color: #f7c08a;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

/* Forms */

.booking-form {
    background: rgba(230, 230, 230, 0.7);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1100px;
    padding: 20px;
    margin: auto auto 50px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.1);
}

/* CSS for wider viewport */
#booking-form {
    display: flex;
    flex-direction: row; /* Aligns the form elements in a line */
    gap: 10px;
}

/* CSS for smaller viewport */
@media screen and (max-width: 600px) {
    #booking-form {
        flex-direction: column; /* Stacks the form elements vertically */
    }
    div.elem-group-guests {
        max-width: 100%;
    }
    .button-group {
        display: flex;
        justify-content: center;
    }
}

#date-range:hover {
    cursor: default;
}

input::placeholder {
    color: #333; /* Change to your desired color */
    font-weight: normal; /* Change to your desired font weight */
    opacity: 1; /* Firefox reduces the opacity of placeholders by default, so we need to override that */
}

.register-form,
.contact-form {
    padding: 20px;
    text-align: center;
    margin: auto;
    max-width: 400px;
    overflow: auto;
    border-radius: 4px;
    background: #ffffff;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@import "bourbon";

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #333;
}

.logo {
    margin-right: auto;
}

.dropdown {
    position: relative;
    animation-delay: 1s;
}

.dropbtn {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.login-form input::placeholder {
    font-style: normal;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    font-family: 'Nanum Gothic', sans-serif; /* Adjust font family here */
    font-style: normal; /* Adjust font style here */
    /* Add any other desired styles */
}

.dropdown-content form {
    padding: 10px;
}

.login-wrapper {
    width: 200px;
}

.login-container {
    position: relative;
}

.login-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 0;
    outline: 0;
    background: #f1f1f1;
    font-weight: 300;
    font-style: italic;
    border-radius: 2px;
}

.login-form input:last-child {
    margin-bottom: 0;
}

.login-form input[type="submit"] {
    color: #fff;
    background: #333;
    font-style: normal;
}

.login-form input[type="button"] {
    color: #fff;
    background: #333;
    font-style: normal;
}

.login-form input[type="submit"]:hover {
    background: #444;
    color: #f7c08a;
    cursor: pointer;
}

.login-form input[type="button"]:hover {
    background: #444;
    color: #f7c08a;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#main-footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    z-index : 9999;
}

/* Media Query for Small Screens */
@media screen and (max-width: 700px) {

    #navbar ul {
        display: none; /* Hide the nav links */
    }

    #navbar ul.active {
        display: block; /* Display the nav links when menu is active */
    }

    #navbar li {
        display: block;
        margin-bottom: 10px; /* Add spacing between each nav item */
    }

    .menu-toggle {
        display: block; /* Display the hamburger menu icon */
    }

    /* Adjust hamburger menu icon style */
    .menu-toggle {
        position: absolute;
        top: 8px;
        right: 20px;
        font-size: 40px;
        color: #fff;
        background: transparent;
        border: none;
        cursor: pointer;
        z-index: 999; /* Ensure it's on top of other elements */
    }
}

/* Media Query for Large Screens */
@media screen and (min-width: 700px) {
    .menu-toggle {
        display: none; /* Hide the hamburger menu icon for large screens */
    }
}



